<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <span>Business Name</span>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h3>Review Title</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>Review Content</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>58</h5>
          <ion-button size="small">
            Helpful
          </ion-button>
        </ion-col>
        <ion-col>
          <h5>3</h5>
          <ion-button size="small">
            Not Helpful
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
</ion-content>
