<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>{{business.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let review of reviews | async">
    <ion-card-header>
      
      <ion-card-title>Reviewer: {{review.userName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top:-15px;">

          <h2>Rating: {{review.rating}}</h2>
       
      <ion-row style="margin-top:-20px;">
        <ion-col>
          <h2>Review: {{review.review}}</h2>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:-20px; margin-bottom: -15px;">
        <ion-col>
          <h3 style="color: var(--ion-color-success);">{{review.likes}} <ion-button size="small" (click)="sendLike(review.id, review.likes, review.dislikes)">
            Helpful
         
          </ion-button> </h3>
          
        </ion-col>
        <ion-col>
          <h3 style="color: var(--ion-color-primary);">{{review.dislikes}} <ion-button size="small" (click)="sendDislike(review.id, review.likes, review.dislikes)">
            Not Helpful
          </ion-button></h3>
          
        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
</ion-content>
