<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Post a review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="Stars" style="--rating: 2.3;" aria-label="Rating of this product is 2.3 out of 5."></div> -->
  <!-- <div class="rating">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  
</div> -->
<!-- <span class="starRating">
  <input id="rating5" type="radio" name="rating" value="5">
  <label for="rating5">5</label>
  <input id="rating4" type="radio" name="rating" value="4">
  <label for="rating4">4</label>
  <input id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
</span> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{business.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  
      <h3 class="ion-text-center">
        Rating
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="ratingScore">
          <mat-button-toggle value="1">1</mat-button-toggle>
          <mat-button-toggle value="2">2</mat-button-toggle>
          <mat-button-toggle value="3">3</mat-button-toggle>
          <mat-button-toggle value="4">4</mat-button-toggle>
          <mat-button-toggle value="5">5</mat-button-toggle>
        </mat-button-toggle-group>
      </h3>
     
      <ion-item>
        <ion-label position="floating">Share your review about how COVID safe the place is</ion-label>
        <ion-textarea auto-grow="true" rows="4" [(ngModel)]="review"></ion-textarea>
      </ion-item>
  

        <ion-button expand="block" [disabled]="ratingScore == null || review == ''" (click)="postReview()">
          Post review
        </ion-button>

    </ion-card-content>
    <ion-row></ion-row>
  </ion-card>
</ion-content>
