// ion-content{
//     --background: linear-gradient(197deg, var(--ion-color-primary), var(--ion-color-secondary)) !important;
// }

// ion-card{
//     --background: linear-gradient(197deg, var(--ion-color-primary) 0%, 85%, var(--ion-color-dark) 100% ) !important;
//     --color: #defdef !important;
// }

// ion-card-title{
//     color:var(--ion-color-secondary-contrast);
// }

.buttonsRow{
    display: flex;
    justify-content: space-around;
    // flex-basis: content;
    
}

.reviewsBtn{
    height: 30px;
}

.businessInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameBss{
    display: flex;
    flex-direction: row;
}

.nameBss .infoSpan{
    flex: 2;
    justify-self: flex-start;
}

.nameBss .ratingSpan{
    flex: 1;
    justify-self: flex-end;
}

.nameBss .starsSpan{
    flex: 1;
    justify-self: flex-end;
}

.locationBss{
    display: flex;
}

.locationBss .locationSpan{
    flex: 1;
    justify-self: center;
}

.btnsBss{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnsBss .btns{
    flex: 1
}