<ion-header>
  <ion-toolbar>
    <ion-title>Restaurants and Businesses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="tertiary"></ion-searchbar>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <span>Business Name</span>
        </ion-col>
        <ion-row>
          <ion-col>
            Rating
          </ion-col>
          <ion-col>
            Stars
          </ion-col>
        </ion-row>
      </ion-row>

      <ion-row>
        <ion-col>
          Location
        </ion-col>
        <ion-col>
          Phone Nubmer
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="reviewsBtn" routerLink="./see-reviews"
            >See Reviews</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button class="reviewsBtn" routerLink="./post-review"
            >Post a review</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-content>
      <div class="businessInfo">
        <div class="nameBss">
          <div class="infoSpan">
          <h4>Business Info</h4>
        </div>
        <div class="ratingSpan">
          <h4 >Rating</h4>
        </div>
        <div class="starsSpan">
          <h4>Stars</h4>
        </div>
        </div>
        <div class="locationBss">
          <span class="locationSpan">Location</span>
        </div>
        <div class="btnsBss">
          <ion-button class="btns">See Reviews</ion-button>
          <ion-button class="btns">Post a review</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>
