<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary" class="ion-text-center">
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resources</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div class="buttons ion-text-center">
    <ion-button fill="clear" class="btn-img" routerLink="./symptoms">COVID-19 Symptoms and Diagnosis</ion-button>
    <ion-button fill="clear" class="btn-img" routerLink="./testing">Testing Center Information</ion-button>
    <ion-button fill="clear" class="btn-img" routerLink="./statewide-stat">Statewide Statistics</ion-button>
    <ion-button fill="clear" class="btn-img">Prediction Index</ion-button>
    <ion-button fill="clear" class="btn-img" href="https://www.google.com/search?q=covid-19+indiana+news&source=lnms&tbm=nws&sa=X&ved=2ahUKEwj6xKuRiK_qAhVJAZ0JHdQkBswQ_AUoAXoECAwQAw&biw=1366&bih=625">COVID-19 in the News</ion-button>
  </div>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
