ion-content{
    // --background: linear-gradient(197deg, var(--ion-color-primary), var(--ion-color-secondary)) !important;
}

ion-card{
    // --background: linear-gradient(197deg, var(--ion-color-primary) 0%, 85%, #103323 100% ) !important;
    // --color: #defdef !important;
}

ion-card-title{
    color:var(--ion-color-secondary-contrast);
}

ion-card-header{
    background-color:var(--ion-color-secondary) !important;

    ion-card-title{
        color: #efefef;
    }
}

.whiteIcon{
    background-color: #efefef
}

.newsCardContent{
    display: flex;
    flex-direction: row;
    
}

.newsCard{
    // height: 10%;
    // width: 50%;
    flex: 1;
    // height: 20%;
}

.graph-one{
    background-image: url("../../assets/images/graph1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graph-two{
    background-image: url("../../assets/images/graph2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-title{

}

.right-button{
    float: right;
    margin-top: 5px;
}

.two-cards{
    display: flex;
}

.newImg{
    height: 100px;
    width: fit-content;
}

.icons-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.newsContent{
    padding: 0 5px;

    height: 65px;

    overflow-y: hidden;
}

.flex-ion-content{
    display: flex;
    align-items: center;
}