.newsCardContent{
    display: flex;
    flex-direction: row;
    
}

.newsCard{
    // height: 10%;
    // width: 50%;
    flex: 1;
    // height: 20%;
}

.graph-one{
    background-image: url("../../assets/images/graph1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graph-two{
    background-image: url("../../assets/images/graph2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-title{

}

.right-button{
    float: right;
    margin-top: 5px;
}

.two-cards{
    display: flex;
}

.newImg{
    height: 100px;
    width: fit-content;
}

.icons-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.newsContent{
    padding: 0 5px;
    height: 60px;
    overflow-y: hidden;
}

.flex-ion-content{
    display: flex;
    align-items: center;
}