.newsCardContent{
    display: flex;
    flex-direction: row;
    
}

.newsCard{
    // height: 10%;
    // width: 50%;
    flex: 1;
    // height: 20%;
}

.graph-one{
    background-image: url("../../assets/images/graph1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graph-two{
    background-image: url("../../assets/images/graph2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}