<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GPS Hotzone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GPS Hotzone</ion-title>
    </ion-toolbar>
  </ion-header>
  <div #map id="map"></div>
  <div id="con">
    Hello world!
  </div>
</ion-content>
<ion-footer>
  <h2 style="color:red">{{ warningMsg1 }}</h2>
  <h3 style="color:green">{{ warningMsg2 }}</h3>
</ion-footer>
