<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Symptoms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="symptoms-para">
    <u
      >Symptoms may appear 2-14 days after exposure to the virus. People with
      these symptoms may have COVID-19:</u
    >
    <br />
    Fever or chills
    <br />
    Cough
    <br />
    Shortness of breath or difficulty breathing
    <br />
    Fatigue
    <br />
    Muscle or body aches
    <br />
    Headache
    <br />
    New loss of taste or smell
    <br />
    Sore throat
    <br />
    Congestion or runny nose
    <br />
    Nausea or vomiting
    <br />
    Diarrhea
    <br /><br />
    <u
      >Look for emergency warning signs for COVID-19. If someone is showing any
      of these signs, seek emergency medical care immediately:</u
    >
    <br />
    Trouble breathing
    <br />
    Persistent pain or pressure in the chest
    <br />
    New confusion
    <br />
    Inability to wake or stay awake
    <br />
    Bluish lips or face
    <br />
  </p>
</ion-content>
<ion-footer class="ion-text-center ion-margin-bottom">
  <ion-button href="https://landing.google.com/screener/covid19?source=google">Take self-assesment here</ion-button>
  <ion-button routerLink="/tabs/tab2/testing">Contact a testing center</ion-button>
</ion-footer>
